body {
    height: 100%;
    margin: 0px;

}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    flex: 1;
}

.header,
.hero {
    display: flex;
    background-color: #1f2937;
    color: #f9faf8;
    justify-content: space-between;
    padding: 10px 200px 10px 200px;

}

.logo {
    font-size: 24px;
}

ul {
    display: flex;
    margin: 0px;
    gap: 20px;
    list-style: none;
    justify-content: center;
    align-items: center;
}


.container {
    display: flex;
    flex-direction: column;


}

.container .title {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.button {
    flex-basis: auto;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

/* popup square styles */
.popup{
    background-color: #3882f6;
    display: flex;
    border-style: solid #3882f6;
    border-radius: 10px;
    width: 60%;
    height: 100px;
    margin: 150px auto 20px auto;
    align-items: center;
    
    
}

.popup .title{
    font-size: 20px;
    font-weight: bold;
    color: white;
}
.popup .text{
    color: white;
}

.popup .title,
.popup .text{
    margin-left: 300px;
}

.popup button{
    display: inline-block;
    border-color: white;
    color: white;
    border-radius: 5px;
    background-color: #3882f6;
    margin-left: 100px;
    height: 30px;
    width: 120px;
    
}

/* footer styles */
.footer {
    margin-top: auto;
    background-color: #1f2937;
    color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;

}